
/skse/_ReSharper.skse
/skse/_ReSharper.SKSEPlugins
/skse/Debug
/skse/Release
/skse/skse
/skse/SKSEPlugins.6.0.ReSharper.user
/common
/skse/SKSEPlugins.suo
/skse/skse.ncb
/skse/skse.sdf
/skse/ipch
/skse/gibbed_interface_extensions/Debug
/skse/gibbed_interface_extensions/Release
/skse/SKSEPlugins.sdf
/skse/SKSEPlugins.opensdf